BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackParameters: true
BreakBeforeBraces: Linux
IndentCaseLabels: false
